@import './variables.css';
@import './animations.css';

*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
html, body, #root { min-height: 100vh; }
body {
  font-family: var(--font-base);
  font-size: 14px;
  line-height: 1.5;
  color: var(--negro);
  background: var(--negro);
  -webkit-font-smoothing: antialiased;
}
button { cursor: pointer; font-family: inherit; }
input, textarea, select { font-family: inherit; }
img { max-width: 100%; display: block; }

::-webkit-scrollbar       { width: 6px; }
::-webkit-scrollbar-track { background: var(--gris-oscuro); }
::-webkit-scrollbar-thumb { background: var(--cyan-dark); border-radius: 3px; }
